*.aux
*.fdb_latexmk
*.log
*.pdf
*.synctex.gz
*.fls
/sandbox
/sketches
*.bbl
*.blg

#ignore ipynb checkpoints
.ipynb_checkpoints/

#ignore python envs
/radical_approach_to_analysis/bressoud

# Ignores for pishro-nik-probability
#ignore rust bin/target/debug files for Pishronik
/pishro-nik-probability/pishronik-prob-rs/target
/pishro-nik-probability/PishroProbCpp/.vscode
/pishro-nik-probability/PishroProbCpp/*/*.exe